apiVersion: v1
data:
  config.json: |-
    {
      "config": {
        "shopifyTest": false,
        "SENTRY_DSN": "",
        "urls": {
          "SSO": "http://sso:3000/",
          "ML": "http://ml:8000",
          "AZURE_URL_REDIRECT": "https://app.yellowmessenger.com/integrations/azureauth/",
          "DATA_SERVICE": "http://data-service:3000",
          "AGENTS_SERVICE": "http://agents-service:3000",
          "SCHEDULER": "http://scheduler:3000",
          "DOCKER_MANAGER": "",
          "KUBERNETES_API": "https://kubernetes.default:443",
          "KAFKA":  {{ configMap.configValues.kafkaServers | default("kafka-kube.ymdev:9092") | dump(2) | striptags(false)  }},
          "DOCKER_ZERO": "docker-0",
          "BOT_AUDIT": "http://bot-audit:3000"
        },
        "TOKEN_PATH": "/var/run/secrets/kubernetes.io/serviceaccount/token",
        "redis": {
          "port": {{ configMap.configValues.redisPort | default(6379) }},
          "host": {{ configMap.configValues.redisHost | default('redis.ymdev') }}
        },
        "MONGODB": {
          "URL": {{ configMap.configValues.mongoURL | default('mongodb://root:c0mpl1cat3d@mongodb.ymdev.svc.cluster.local:27017') }},
          "REPELSET_OPTIONS": {{ configMap.configValues.mongoOptions | default('?authMechanism=DEFAULT&authSource=admin') }}
        },
        "XMPP_REST_URI": "http://ejabberd.ymdev:5280/api",
        "XMPP_DOMAIN": "xmpp.yellowmssngr.com",
        "XMPP_HOST": "ejabberd.ymdev",
        "executorImage": "itddrnonprod.icp:8500/ymdev/executor:ppc64le-v14.08.20",
        "baseExecutorImage": "itddrnonprod.icp:8500/ymdev/executor:ppc64le-v14.08.20",
        "debuggerImageUrl": "yellowmessenger.azurecr.io/debugger:v5",
        "network": "bot-network",
        "pullLatestExecutorImage": true,
        "NAMESPACE": "ymdev",
        "NEW_RELIC_KEY": "",
        "AZURE_BLOB_STORAGE_ACCOUNT": "yellowmessenger",
        "AZURE_BLOB_STORAGE_ACCOUNT_ACCESS_KEY": "/qnaZM6BMIwCaeRvhbhbrfzb6t3npUBZDxVMSDgdnJSozd7O3zdurau+yNUXf/FO7XdP1zhQQCnX9/jeyIg2ew==",
        "AZURE_BLOB_STORAGE_BASE_URL": "https://cdn.yellowmessenger.com",
        "AZURE_BLOB_STORAGE_RECORDING_CONTAINER": "",
        "AZURE_VOICE_AUTH_BASE_URL": "",
        "AZURE_VOICE_AUTH_KEY": "",
        "SENDGRID_KEY":"",
        "MSG91_KEY": "",
        "APP_PORT": 8080,
        "KUBERNETES": {
          "BOT_GATEWAY": "",
          "NODE_SELECTOR": {{ configMap.configValues.nodeSelectory | default({ env: 'ymdev' }) | dump(2) | striptags(false) }}
        },
        "SHOPIFY": {
          "OAUTH_URL_TEMPLATE": "",
          "CLIENT_ID":"",
          "CLIENT_SECRET": "",
          "ACCESS_TOKEN_URL":"",
          "API_VERSION": "",
          "ADMIN_API": "",
          "PAYMENT_RETURN_URL": ""
        }
      }
    }
kind: ConfigMap
metadata:
  name: controller-config
  namespace: services
