---
apiVersion: {{ appVersion | default("extenstions/v1beta1") }}
kind: Deployment
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  replicas: {{ replicas | default(1) }}
  selector:
    matchLabels:
      app: {{ name }}
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      securityContext: {{ deployment.securityContext | default({}) | dump(2) | striptags(false) }}
      nodeSelector: {{ deployment.nodeSelector | default({}) | dump(2) | striptags(false) }}
      {%- if deployment.initContainers %}
      initContainers:
      {%- for initContainer in deployment.initContainers%}
      - name: {{initContainer.name}}
        image: {{initContainer.image}}
        command: {{ initContainer.command | default([]) | dump(2) | striptags(false) }}
        args: {{ initContainer.args | default([]) | dump(2) | striptags(false) }}
        securityContext: {{ initContainer.securityContext | default({}) | dump(2) | striptags(false) }}
        volumeMounts:
        {%- if  ( not persistentVolumes.enabled === false ) %}
        {%- for persistentVolume in persistentVolumes.volumes %}
        {%- if not persistentVolume.containerName  %}
          - name: {{ persistentVolume.containerVolumeName }}
            mountPath: {{ persistentVolume.containerMountPath }}
        {%- endif %}
        {%- if persistentVolume.containerName and (persistentVolume.containerName == initContainer.name)%}
          - name: {{ persistentVolume.containerVolumeName }}
            mountPath: {{ persistentVolume.containerMountPath }}
        {%- endif %}
        {%- endfor %}
        {%- endif %}
      {%- endfor %}
      {%- endif %}
      containers:
      {%- for container in deployment.containers %}
        - image: {{ container.image }}
          name: {{ container.name | default(name) }}
          {%- if container.args %}
          args:
          {%- for args in container.args %}
            - {{ args }}
          {%- endfor %}
          {%- endif %}
          {%- if container.env %}
          env:
          {%- for env in container.env %}
            - {{ env | dump(2) | striptags(false)}}
          {%- endfor %}
          {%- endif %}
          {%- if container.command %}
          command:
          {%- for command in container.command %}
            - {{ command }}
          {%- endfor %}
          {%- endif %}
          {%- if ( not service.enabled === false  ) and service.ports %}
          ports:
          {%- for port in service.ports %}
            - containerPort: {{ port.port }}
          {%- endfor %}
          {%- endif %}
          {%- if container.ports %}
          {%- for port in container.ports %}
            - containerPort: {{ port }}
          {%- endfor %}
          {%- endif %}
          {%- if ( not persistentVolumes.enabled === false ) %}
          volumeMounts:
          {%- for persistentVolume in persistentVolumes.volumes %}
          {%- if not persistentVolume.containerName  %}
            - name: {{ persistentVolume.containerVolumeName }}
              mountPath: {{ persistentVolume.containerMountPath }}
          {%- endif %}
          {%- if persistentVolume.containerName and ( (persistentVolume.containerName == container.name) or (persistentVolume.containerName == name))%}
            - name: {{ persistentVolume.containerVolumeName }}
              mountPath: {{ persistentVolume.containerMountPath }}
          {%- endif %}
          {%- endfor %}
          {%- endif %}
          {%- if ( not configMap.enabled === false )%}
          {%- for config in configMap.configs %}
          {%- if not config.containerName  %}
            - name: {{ config.configMapName + "-configMap" }}
              mountPath: {{ config.mountPath }} 
          {%- endif %}
          {%- if config.containerName and ((config.containerName == container.name) or (config.containerName == name))%}
            - name: {{ config.configMapName + "-configMap" }}
              mountPath: {{ config.mountPath }} 
          {%- endif %}
          {%- endfor %}
          {%- endif %}
          resources:
            limits: 
              cpu: {{ container.resourceLimits.cpu | default('1000m') }}
              memory: {{ container.resourceLimits.memory | default('1000Mi') }}
            requests: 
              cpu: {{ container.resourceRequests.cpu | default('500m') }}
              memory: {{ container.resourceRequests.memory | default('500Mi') }}
      {%- endfor %}
      {%- if deployment.serviceAccount %}
      serviceAccount: {{ deployment.serviceAccount }}
      serviceAccountName: {{ deployment.serviceAccount }} 
      {%- endif %}
      {%- if ( not persistentVolumes.enabled === false ) or ( not configMap.enabled === false ) %}
      volumes:
        {%- for volume in persistentVolumes.volumes %}
        - name: {{ volume.containerVolumeName }}
          persistentVolumeClaim:
            claimName: {{ volume.claimName | default(name + '-claim') }}
        {%- endfor %}
        {%- if ( not configMap.enabled === false ) %}
        {%- for config in configMap.configs %}
        - name: {{ config.configMapName + "-cm-" + loop.index0 }}
          configMap:
            name: {{ config.configMapName }}
            items:
            {%- for item in config.configItems %}
            - key: {{ item.key }}
              path: {{ item.path | default(item.key) }}
            {%- endfor %}
        {%- endfor %}
        {%- endif %}
      {%- endif %}
