apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: {{ namespace }}
data:
  logstash.conf: |-
    input {
          kafka {
            bootstrap_servers => {{ configMap.configValues.kafkaServers | default("kafka-kube.ymdev:9092") | dump(2) | striptags(false)  }}
            topics => ["index-queue"]
            decorate_events => true
            group_id => "new-index-logstash-group"
            codec => "json"
            auto_offset_reset => "latest"
          }
        }
        filter {
          mutate {
                gsub => [
                  "[es_doc_props][index]", "^ax", "x",
                  "[es_doc_props][index]", "^ab", "b"
                ]
              }
        ruby {
            code => "
                event.set('[@metadata][document_id]', event.get('[es_doc_props][id]'));
                event.set('[@metadata][document_index]', event.get('[es_doc_props][index]'));
                event.set('[@metadata][document_action]', event.get('[es_doc_props][action]'));
                event.remove('es_doc_props');
                event.remove('kafka');
              "
            }
        }
        output {
        elasticsearch {
                hosts => {{ configMap.configValues.elasticSearchHosts | default(["http://elastic.ymdev:9200"]) | dump(2) | striptags(false)  }}
                index => "%{[@metadata][document_index]}"
                document_id => "%{[@metadata][document_id]}"
                action => "%{[@metadata][document_action]}"
                doc_as_upsert => true
                codec => json {
                    charset => "UTF-8"
                }
              }
          stdout {
            codec => rubydebug { metadata => true }
          }
        }
  logstash.yml: |-
    http.host: "0.0.0.0"
    path.config: /usr/share/logstash/pipeline
    xpack.monitoring.enabled: false

