apiVersion: v1
kind: ConfigMap
metadata:
  name: ml-config
  namespace: {{ namespace }}
data:
  ml.ini: |-
    [CONFIG]
    ML_SSO_URL = http://sso.ymdev:3000
    ML_MONGO_URL = {{ configMap.configValues.mongoURL | default('mongodb://root:c0mpl1cat3d@mongodb.ymdev:27017') }}{{ configMap.configValues.mongoOptions | default('?authMechanism=DEFAULT&authSource=admin') }}
    CELERY_BROKER_URL = {{ configMap.configValues.celeryBroker | default('redis://redis.dbs:6379') }}
    CELERY_RESULT_BACKEND = {{ configMap.configValues.celeryBroker | default('redis://redis.dbs:6379') }}
    ADMIN_URL = ''
    ML_URL=http://ml.ymdev:5000
    BOTS_URL=http://bots.ymdev:3030
    ELASTICSEARCH_URLS={{ configMap.configValues.elasticSearchHosts | default(["http://elastic.ymdev:9200"]) | dump(2) | striptags(false)  }}
    REDIS={ "host": {{ configMap.configValues.redisHost | default('redis.ymdev') }}, "port": {{ configMap.configValues.redisPort | default(6379) }}}
    CELERY_CALLBACK_URL=ml.ymdev:5000
    WORD_TO_VEC_URL=http://word_to_vec:3019
    REDIS_CLUSTER=[]
    EMBEDDING_SERVICE=http://embedding-service.ymdev:5000
    SENDGRID_KEY=''