apiVersion: v1
kind: ConfigMap
metadata:
  name: controller-config
  namespace: {{ namespace }}
data:
  default.conf: |-
      server {
          {%- if configMap.configValues.ssl.enabled %}
          listen   {{ configMap.configValues.port | default(443) }} ssl;
          {% else %}
          listen  {{ configMap.configValues.port | default(80) }};
          {%- endif %}
          server_name  {{ configMap.configValues.serverName | default('_') }};

          {%- if configMap.configValues.ssl.enabled %}
          ssl_certificate  {{ configMap.configValues.ssl.cert | default('/etc/nginx/ssl/certificate.crt') }};
          ssl_certificate_key {{ configMap.configValues.ssl.key | default('/etc/nginx/ssl/certificate.pem') }};
          ssl_protocols TLSv1.2 TLSv1.3;
          {%- endif %}

          error_log  /var/log/nginx/access.log warn;
          #charset koi8-r;
          #access_log  /var/log/nginx/log/host.access.log  main;


          #add_header Content-Security-Policy "default-src * 'unsafe-inline' data: blob:; script-src https://*.yellowmessenger.com https://*.botplatform.io 'unsafe-inline'";
          # more_clear_headers Server;
          proxy_hide_header X-Powered-By;
          add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
          add_header X-Frame-Options "DENY";
          add_header X-XSS-Protection "1; mode=block";
          add_header Referrer-Policy "no-referrer";
          add_header Feature-Policy "geolocation 'self'";
          add_header X-Content-Type-Options nosniff;
          add_header Content-Security-Policy "default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;";
          add_header Expires "0";
          proxy_intercept_errors on;
          client_max_body_size 2M;

          location /health-check {
              return 200 'gateway is working!';
              add_header Content-Type text/plain;
          }

          location /{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://app:8000/;
          }

          location /websocket/ {
              proxy_pass http://ejabberd:5280/websocket;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "Upgrade";
          }

          location /api/ml/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://ml:5000/;
          }

          location /api/test/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://test:3000/;
          }

        location /api/chat/{
          proxy_set_header X-Forwarded-Host $host;
          proxy_set_header X-Forwarded-Server $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_pass http://plugin-service:3000/storage/;
        }


          location /api/sso/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://sso:3000/;
          }

          location /api/insightsN1/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://insights:3015/;
          }

          location /api/bot-audit/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://bot-audit:3000/;
          }

          location /api/embedding/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://embedding-service:5000/;
          }

          location /api/plugin/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://plugin-service:3000/;
              add_header Access-Control-Allow-Origin *;
              add_header Access-Control-Max-Age 3600;
              add_header Access-Control-Allow-Credentials true;
              add_header Access-Control-Allow-Methods 'GET, POST, OPTIONS';
              add_header Access-Control-Allow-Headers 'Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since';
              add_header Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: https: wss:;script-src 'unsafe-inline' 'unsafe-eval' https: wss: blob: data:;img-src data: https:; media-src https:;" always;
              add_header X-Content-Type-Options nosniff;
              add_header X-XSS-Protection "1; mode=block";
              add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
          }

          location /widget/{
              rewrite ^/widget/(.*)$ {{ configMap.configValues.urlApp }}/assets/plugin/latest/dist/$1 redirect;
          }

          location = /widget/main.js {
              add_header  Content-Type  text/javascript;
              return 200 '(function (){var d=document;var e=d.createElement("script");e.type="text/javascript",e.async=!0,e.src="{{ configMap.configValues.urlApp }}/assets/plugin/latest/dist/main.min.js";var t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()';
          }

          location = /widget/widget.js {
              add_header  Content-Type  text/javascript;
              return 200 '(function (){var d=document;var e=d.createElement("script");e.type="text/javascript",e.async=!0,e.src="{{ configMap.configValues.urlApp }}/assets/plugin/latest/dist/widget.min.js";var t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()';
          }

          location = /widget/mobile.js {
              add_header  Content-Type  text/javascript;
              return 200 '(function (){var d=document;var e=d.createElement("script");e.type="text/javascript",e.async=!0,e.src="{{ configMap.configValues.urlApp }}/assets/plugin/latest/dist/mobile.min.js";var t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()';
          }

          location = /widget/live.js {
              add_header  Content-Type  text/javascript;
              return 200 '(function (){var d=document;var e=d.createElement("script");e.type="text/javascript",e.async=!0,e.src="{{ configMap.configValues.urlApp }}/assets/plugin/latest/dist/live.min.js";var t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()';
          }

          location = /widget/banner.js {
              add_header  Content-Type  text/javascript;
              return 200 '(function (){var d=document;var e=d.createElement("script");e.type="text/javascript",e.async=!0,e.src="{{ configMap.configValues.urlApp }}/assets/plugin/latest/dist/banner.min.js";var t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()';
          }

          location = /widget/messaging-sw.js {
              rewrite ^/widget/(.*)$ {{ configMap.configValues.urlApp }}/assets/plugin/latest/dist/messaging-sw.min.js redirect;
          }

          location /api/ai/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              client_max_body_size 20M;
              proxy_pass http://ai-backend:3000/;
          }

          location /api/data/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://data-service:3000/;
          }

          location /api/agents/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://agents-service:3000/;
          }

          location /api/notifications/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://notifications:3000/;
          }

          location /api/scheduler/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://scheduler:3000/;
          }

          location /integrations/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://controller:8080/;
          }


          location /pwa/{
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              add_header X-Frame-Options "ALLOWALL";
              proxy_pass http://pwa:3000/;
              add_header Access-Control-Allow-Origin *;
              add_header X-XSS-Protection "1; mode=block";
              add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
              add_header X-Content-Type-Options nosniff;
            #add_header Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: https: wss:;script-src 'unsafe-inline' 'unsafe-eval' https: wss: blob: data:;img-src data: https:; media-src https:;" always;
          }

          location = /pwa/install {
            return 404;
          }

          location = /api/sso/bot/create-token-internal {
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-Host $host;
            proxy_set_header X-Forwarded-Server $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass http://sso:3000/bot/create-token-internal;
            #auth_basic "Restricted Content";
            #auth_basic_user_file /etc/nginx/yellow_credentials/.htpasswd;
          }

          # location ~ internal {
          #   return 404;
          # }

          location /yellowmessenger/receive/{
              proxy_set_header X-Forwarded-Host $host;
              proxy_set_header X-Forwarded-Server $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_pass http://controller:8080;
          }

          location /error {
              return 200 'You encountered an Error';
              internal;
              add_header Content-Type text/plain;

          }

          location /assets/ {
              add_header Access-Control-Allow-Origin *;
              autoindex on;
              root /etc/nginx/;
          }

          error_page 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 420 422 423 424 426 428 429 431 444 449 450 451 500 501 502 503 504 505 506 507 508 509 510 511 400 403 301 302 401 /error;

      }