{%- for volumes in persistentVolumes.volumes %}
---
apiVersion: {{ appVersion | default("v1") }}
kind: PersistentVolume
metadata:
  name: {{ volumes.persistentVolumeName | default(name + '-volume' )  }}
  namespace: {{ namespace }}
  labels:
    volume-for: {{ name }}
    {%- if volumes.persistentVolumeType %}
    volume-type: {{ volumes.persistentVolumeType }}
    {%- endif %}
spec:
  capacity:
    storage: {{ volumes.persistentVolumeCapacity }}
  accessModes:
    - ReadWriteOnce
  {%- if volumes.persistentVolumeType == 'filesystem' %}
  local:
    path: {{ volumes.persistentVolumePath }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: env
              operator: In
              values:
                - {{ volumes.persistentVolumeNodeSelectorKey }}
  {%- endif %}
  storageClassName: {{ volumes.storageClass }}
  persistentVolumeReclaimPolicy: {{ volumes.reclaimPolicy | default("Retain") }}
---
apiVersion: {{ appVersion | default("v1") }}
kind: PersistentVolumeClaim
metadata:
  name: {{ volumes.claimName | default(name + '-claim')  }}
  namespace: {{ namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ volumes.storageClass }}
  resources:
    requests:
      storage: {{ volumes.claimCapacity }}
  selector:
    matchLabels:
      volume-for: {{ name }}
      {%- if volumes.persistentVolumeType %}
      volume-type: {{ volumes.persistentVolumeType }}
      {%- endif %}
{%- endfor %}