---
apiVersion: {{ appVersion | default("v1") }}
kind: Service
metadata:
  annotations: {{ annotations | default({}) | dump(2) | striptags(false)  }}
  labels:
    app: {{ name }}
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  type: {{ service.type | default('ClusterIP')}}
  ports:
  {%- if service.ports %}
  {%- for port in service.ports %}
    - port: {{ port.port | default(port) }}
      name: {{ name }}-{{ port.port | default(port) }}
      {%- if port.targetPort %}
      targetPort: {{ port.targetPort }}
      {%- endif %}
  {%- endfor %}
  {%- endif %}
  selector:
    app: {{ name }}